footer {
  padding-top: calc(1rem + 3vw);
  padding-bottom: calc(0.3rem + 0.35vw);
  background-color: #000000;
  * {
    color: #fff;
  }
  .footer-logo {
    .logo-f {
      width: calc(167px + 6vw);
      height: calc(135px + 5vw);
      img {
        object-fit: cover;
        width: 116%;
      }
    }
  }
  .socials {
    margin-top: 5px;
    gap: calc(0.3rem + 1vw);
    justify-content: center;
  }
  .socials span {
    display: grid;
    align-content: center;
    width: calc(1.3rem + 0.5vw);
    height: calc(1.3rem + 0.5vw);
    border-radius: 50%;
  }
  hr {
    background-color: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    opacity: 1;
    margin-top: calc(0.7rem + 1.2vw);
  }
  .footer-nav,
  .footer-category,
  .footer-contact {
    width: calc(26.3%);
    padding-top: calc(1rem + 1.5vw);
    p {
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    p:hover {
      font-weight: 500;
    }
  }
  .footer-nav,
  .footer-category {
    p {
      text-align: start;
      padding-left: 10vw;
      // font-size: calc(10px + .3vw);
    }
  }

  .footer-contact {
    text-align: start;
    padding-left: 12.6vw;
  }
  h3 {
    margin-bottom: 1rem;
    line-height: 1.8rem;
  }
  @media (max-width: 1260px) {
    .footer-wrapper {
      justify-content: space-between;
    }
    .footer-nav,
    .footer-category,
    .footer-contact {
      padding: 1rem 0 0 0;
      width: 23%;
      p,
      h3 {
        padding-left: 7vw;
      }
    }
  }
  @media (max-width: 920px) {
    .footer-logo .logo-f {
      width: calc(134px + 6vw);
      height: calc(108px + 5vw);
    }
    .socials span {
      width: calc(1rem + 0.5vw);
      height: calc(1rem + 0.5vw);
    }
    .footer-nav,
    .footer-category,
    .footer-contact {
      p {
        font-size: calc(10px + 0.4vw);
      }
      h3 {
        font-size: calc(13px + 0.6vw);
      }
    }
  }
  @media (max-width: 650px) {
    .copy-rights {
      .text-20 {
        font-size: calc(11px + 0.4vw);
        margin-bottom: 0.7rem;
      }
    }
    .footer-nav,
    .footer-category,
    .footer-contact {
      p,
      h3 {
        padding-left: 3.4vw;
      }
    }
  }

  @media (max-width: 650px) {
    .footer-logo {
      width: 100%;
      align-items: center;
      margin-bottom: .7rem;
    }
    .footer-nav,
    .footer-category,
    .footer-contact {
      width: 29.5%;
      p,
      h3 {
        padding-left: .5rem;
      }
    }
  }
}
